@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}
*, 
*:before,
*:after {
  box-sizing: inherit;
}

.navBar{
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  /* margin: 1rem 3rem 0 3rem; */
}
.navBar h1 {
  text-decoration: underline;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0 0 0 / 0.1);
}
.navBar img{
  width: 4rem;
  border: 0.3rem solid #000000;
  border-radius: 1rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0 0 0 / 0.1);
}

@media (min-width: 768px) {
  .navBar{
    flex-direction: row;
    color: #000000;
    background-color: #ffffff;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  margin: 0;
}
.contenedor {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
a {
  text-decoration: none;
}

footer{
  text-align: center;
  background-color: #000000; 
  color: white;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

a, button{
  padding: 1.3rem 3rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  background-color: #E5E5E5;
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 4.5rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0 0 0 / 0.1);
  transition: all .3s ease 0s;
  outline: none;
}
a:hover{
  background-color: #14213d;
  box-shadow: 0rem 1.5rem 2rem #1f425766;
  color: #E5E5E5;
  transform: translateY(-0.7rem);
}
a:active{
  transform: translateY(-1px);
}
button:hover{
  background-color: #14213d;
  box-shadow: 0rem 1.5rem 2rem #1f425766;
  color: #E5E5E5;
  transform: translateY(-0.7rem);
}
button:active{
  transform: translateY(-1px);
}
