*{
  margin: 0;
}
.header_index{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: wheat;
}
.header_index img{
  width: 4rem;
  border: 0.3rem solid #000000;
  border-radius: 1rem;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0 0 0 / 0.1);
}
@media (min-width: 768px) {
  .header_index{
    flex-direction: row;
  }
}

#contenedor{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.row1{
  display: flex;
  flex-flow: row wrap;
  background-color: #FCA311;
  border-radius: 4.5rem;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  outline: 2px solid black;
}
.row2{
  display: flex;
  flex-flow: row wrap;
  background-color: #E5E5E5;
  border-radius: 4.5rem;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  outline: 2px solid black;
}
.row3{
  display: flex;
  flex-flow: row wrap;
  background-color: #4c7add;
  border-radius: 4.5rem;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  outline: 2px solid black;
}

.imagen:hover{
  transform: scale(1);
}

.texto_img {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 300px;
}

.texto_img img {
  position: absolute;
  margin-top: 85px;
}

.texto_img p {
  position: absolute;
  bottom: 220px;
  margin-bottom: 5px;
}